@import "tailwindcss";

@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";

@import "preline/css/themes/theme.css";
@import "preline/css/themes/autumn.css";

/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);
